* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.quienes {
display: flex;
}

.fotoQuienes {
  width: 80%;
  display: flex;
}

.textoQuienes {
margin: 1rem;
padding: 1rem;
  font-family: 'PT Sans', sans-serif;
}

.miniCarrito {
  display:table;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  background-color: beige;
}